<!DOCTYPE html>
<html>
  <head>
    <title>Rails RPS</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
  </head>

  <body>
     
    <div>
      <a href="<%= url_for(controller: 'rock', action: 'play') %>">Play Rock</a>
    </div>

    <div>
      <a href="<%= url_for(controller: 'paper', action: 'play') %>">Play Paper</a>
    </div>

    <div>
      <a href="<%= url_for(controller: 'scissors', action: 'play') %>">Play Scissors</a>
    </div>

    <%= yield %> <!-- This is where individual page content is inserted -->

    <div>
      <a href="<%= root_path %>">Rules</a>
    </div>

  </body>
</html>
